<header>
  <%= render "navbar" %>
</header>

<div class="container">
  <h2><%= current_user.name %>!</h2>

  <ul class="collection with-header">
    <li class="collection-header row valign-wrapper" style="margin-bottom: 0;">
      <h4 class="col s11 valing">Alumnos</h4>
      <%= link_to ("<i class='material-icons'>add</i>").html_safe, new_disabled_path, method: :get, class: "btn col s1 valing" %>

    </li>
    <% @disableds.each do |disabled| %>
      <li class="collection-item">
        <div>
          <%= disabled.name %>
          <%= link_to ("<i class='material-icons'>folder_shared</i>").html_safe, disabled_agendas_path(disabled), class: "secondary-content" %>
        </div>
      </li>
    <% end %>
  </ul>

  <p>
  </p>

  <%= link_to "Back", :back %>
</div>
