<h2><%= current_user.name %>!</h2>


<p>
  <strong>Email:</strong> <%= current_user.email %>
</p>

<ul>
  <% @disableds.each do |disabled| %>
    <li>
      <%= disabled.name %>
      <%= link_to "Select disable", disabled_path(disabled) %>
    </li>
  <% end %>
</ul>

<p>
  <%= button_to "Create disabled profile", new_disabled_path, method: :get %>
</p>

<p>
  <%= button_to "Edit profile", "/users/edit", method: :get %>
</p>

<%= link_to "Back", :back %>
