<header>
  <%= render "navbar" %>
</header>

<div class="row">
  <div class="s12 m12 center-align">
    <h5>Pictogramas del tablero
      <h3>
        <%= @board.name %>
      </h3>
    </h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="s3 m2 left-align">
      <h5><%= link_to 'Volver', disabled_agenda_boards_path(@disabled,@agenda) %></h5>
    </div>
  </div>

  <div class="row pictograms">
    <% @pictograms.each do |pictogram| %>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag(pictogram.image) %>
          <span class="card-title"><%= pictogram.name %></span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="message">
  <div class="message-content"></div>
  <i class='material-icons done'>done</i>
</div>
