<header>
  <%= render "navbar" %>
</header>

<div class="row">
  <div class="s12 m12 center-align">
    <h5>Estos son los pictogramas del tablero <%= @board.name %>, que está en la agenda
      <h3>
        <%= @agenda.name %>
      </h3>
    </h5>
  </div>
</div>

<div class="container">
  <div class="row pictograms">
    <% @pictograms.each do |pictogram| %>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag(pictogram.image) %>
          <span class="card-title"><%= pictogram.name %></span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
