<header>
  <%= render "navbar" %>
</header>

<div class="header-menu" id="header-title">
  <p>
    Estos son los pictogramas del tablero <%= @board.name %>, que está en la agenda <%= @agenda.name %>
  </p>
</div>
</header>

<div class="container">
  <div class="row pictograms">
    <% @pictograms.each do |pictogram| %>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag(pictogram.image) %>
          <span class="card-title"><%= pictogram.name %></span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
