<nav>

  <div class="row">

    <% if @disabled %>
      <%= link_to image_tag("bemyvoice_logo.png"), disabled_agendas_path(@disabled) %>
    <% else %>
      image_tag("bemyvoice_logo.png")
    <% end %>

    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <% if @disabled %>
        <%= render "nav_disabled_selected" %>
      <% else %>
        <%= render "nav_no_disabled_selected" %>
      <% end %>
      <% if user_signed_in? %>
        <%= render "nav_current_user" %>
      <% else %>
        <%= render "nav_no_current_user" %>
      <% end %>

    </ul>

  </div>

</nav>
