
<nav>
  <div class="header-menu">
    <ul id="menu-list">
      <li class="menu-list-item" id="menu-list-left">
        <p>Yo soy <strong><%= @disabled.name %></strong></p>
      </li>
      <li class="menu-list-item" id="menu-list-right">
        <div class="header-menu-rigth">
          <p>Me ayuda a hablar <strong><%= current_user.name %></strong></p>
        </div>

        <div class="header-menu-rigth">
          <p><%= link_to 'Salir', destroy_user_session_path, method: 'DELETE' %></p>
        </div>

        <div class="header-menu-right">
          <p><%= link_to 'Editar perfil', edit_disabled_path(@disabled)%></p>
          <div id="top_bar">
            <% if user_signed_in? %>
            <p><%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %></p>
            <% else %>
            <p>
              <%= link_to 'Sign_up', new_user_registration_path %> |
              <%= link_to 'Sign_in', new_user_session_path %>
            </p>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
